.closed {
    position: fixed;     /* Fixed Sidebar (stay in place on scroll and position relative to viewport) */
    height: 100%;
    width: 75px;     /* Set the width of the sidebar */
    z-index: 1;      /* Stay on top of everything */
    top: 0;      /* Stay at the top */
    background-color: #2c4047; /* Black */
    overflow-x: hidden;     /* Disable horizontal scroll */
    padding-top: 10px;
    border-right: 2px solid white;
}

.sidebar{
    position: fixed;     /* Fixed Sidebar (stay in place on scroll and position relative to viewport) */
    height: 100%;
    width: 500px;     /* Set the width of the sidebar */
    z-index: 1;      /* Stay on top of everything */
    top: 0;      /* Stay at the top */
    background-color: #2c4047; /* Black */
    overflow-x: hidden;     /* Disable horizontal scroll */
    padding-top: 10px;
}

.nothing{
    visibility: hidden;
}

.toggle{
    margin-top: 20px;
    margin-left: 30px;
    transition: all .2s cubic-bezier(.075,.82,.165,1);
    background: transparent;
    color: #fff;
    border: none;
    
}

.sidebarIcons{
    color: white;
    margin-bottom: 50px;
    background-size: 50px;
}