.productCard img {
  box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 1);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  width: 200px;
  height: 200px;
  border: 2px solid white;
  border-radius: 20px;
}

.productCard h1 { 
  font-size: 20px;
}

